GROK_STACK_CONSOLE_PORT=18600
GROK2API_HOST_PORT=8000
GROK2API_APP_KEY=change-this-admin-password
GROK2API_API_KEY=
GROK2API_BASE_PROXY_URL=socks5://warp:1080
GROK2API_ASSET_PROXY_URL=socks5://warp:1080
GROK_REGISTER_DEFAULT_RUN_COUNT=50
GROK_REGISTER_DEFAULT_PROXY=socks5://warp:1080
GROK_REGISTER_DEFAULT_BROWSER_PROXY=socks5://warp:1080
GROK_REGISTER_DEFAULT_API_ENDPOINT=http://grok2api:8000/v1/admin/tokens
GROK_REGISTER_DEFAULT_API_TOKEN=change-this-admin-password
GROK_REGISTER_DEFAULT_API_APPEND=true
